$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "compass";

@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans);

/* for angular ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.page {
  @extend .row;
}

.guild-block {
  @extend .col-md-12;
  @extend .frame-z1;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-content {
  @extend .col-md-12;
}

.left-content {

}

.right-content {

}

.frame-z1 {
  z-index: 1;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.frame-z2 {
  z-index: 2;
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}

.frame-z3 {
  z-index: 3;
  box-shadow: 0px 17px 50px rgba(0, 0, 0, 0.19);
}

.frame-z4 {
  z-index: 4;
  box-shadow: 0px 16px 28px 0 rgba(0, 0, 0, 0.22);
}

.frame-z5 {
  z-index: 5;
  box-shadow: 0px 27px 24px 0 rgba(0, 0, 0, 0.2);
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  @include background(image-url("crossword.png"));

  header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 40px;
      padding-bottom: 19px;
    }
  }

  footer {
    margin-top: 30px;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;

    @include center-block();
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }

//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer {
//     padding-left: 0;
//     padding-right: 0;
//   }
//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }
