<div class="ui page grid">
  <div class="column">
    <form name="loginForm" class="ui fluid form segment" ng-controller="LoginCtrl">
      <h3 class="ui header" ng-bind=" 'login' | i18n "></h3>
      <div class="field">
        <label for="" ng-bind=" 'email' | i18n "></label>
        <input type="text" placeholder="{{ 'email' | i18n }}">
      </div>
      <div class="field">
        <label for="" ng-bind=" 'password' | i18n "></label>
        <input type="password" placeholder="{{ 'password' | i18n }}">
      </div>
      <div class="ui red submit button">{{ 'login' | i18n }}</div>
    </div>
  </div>
</div>